@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{
	font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
	font-size: 14px;
	*margin:0px;
	text-align:center;
	background-color: #f1f1f1;
}
img{border:0px;}
a:link{text-decoration:none;text-decoration:none;}
a:visited{text-decoration:none;text-decoration:none;}
a:hover{text-decoration:none;text-decoration:none;}
body, h1, h2, h3, input, p {
    color: #34302D;
    font-family: "Varela Round","sans-serif";
    font-weight: 400;
}

.slidemenu ul li{
list-style-image:url('../images/icon/05_24x24.png');
list-style-position : outside;
height:30px; line-height:30px;
}
.slidemenu ul li a span{
	font-size: 18px;
	text-shadow: 1px 1px 1px #676767;
	font-weight:bold;
	color:#FF9966;
}

.necessary{
	color: #ff3333;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}